# Node
node_modules/
dist/
# env
.env
.env.local
.env.*
.env.*.local
# Python
venv/
__pycache__/
*.pyc
# IDE
.vscode/
# OS
.DS_Store
# Build
build/
# Logs
*.log
# Firebase
firebase.json
.firebaserc
# Secrets
*.pem
*.key
